@import "tailwindcss";

@theme {
  --color-primary: #FFC300;
}



:root {
  margin: 0;
  display: block;
  font-feature-settings: normal;
  font-variation-settings: normal;

  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
